body {
  background: #eee;
  margin: 0;
  padding: 20px;
}

svg {
  display: block;
  margin: 0 auto;
}

text {
  cursor: pointer;
  dominant-baseline: central;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-anchor: middle;
  text-transform: uppercase;
}