body {
  background: #eee;
}

svg {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

text {
  cursor: pointer;
  dominant-baseline: central;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-anchor: middle;
  text-transform: uppercase;
}